= form_for @word, :html => { :multipart => true } do |f|
  - if @word.errors.any?
    #error_explanation
      %h2= "#{pluralize(@word.errors.count, "error")} prohibited this word from being saved:"
      %ul
        - @word.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    %legend Information

    = f.label :name
    = f.text_field :name, :placeholder => 'Enter the word name' 

    = f.label :description
    = f.text_area :description, :placeholder => 'Enter here a brief word description' 

    = f.label :example
    = f.text_area :example, :placeholder => 'Enter here an easy example of the word usage ' 

  %fieldset
    %legend Media

    = f.label :icon
    .row.collapse.panel
      .large-6.columns
        = f.file_field :icon
      .large-6.columns
        %a.th.radius
          = image_tag @word.icon.url if @word

    = f.label :audio
    = f.file_field :audio, class: "panel large-12"

  = f.submit 'Save', class: "button success right"
